@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
::-webkit-scrollbar {
  display: none;
}

.MuiAvatarGroup-avatar {
  width: 20px !important;
  height: 20px !important;
  background-color: "red" !important;
}
