@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
::-webkit-scrollbar {
  display: none;
}

.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
  width: 20px !important;
  height: 20px !important;
}
